<div class="row">
  <div class="columns Word">

    <h1 class="spelling"><%= @word.spelling %></h1>


    <ol id="definition_list">
      <% @word.definitions.each do |definition| %>
        <li>

        <div id="<%= dom_id(definition) %>" class="Definition">
          <span class="part_of_speech"><%= definition.part_of_speech %></span>
          <span class="content"><%= definition.content %></span>
        </div>

        </li>
      <% end %>
    </ol>


  </div>
</div>


